fastapi
uvicorn
streamlit
langchain
langchain-core
langchain-groq
langchain-community
groq
sqlalchemy
pandas
plotly
python-dotenv
pydantic
fpdf2
requests
prophet
scikit-learn
scipy
numpy
openpyxl
sqlalchemy-utils
